* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

ul,
li {
  list-style: none;
}

a {
  display: inline-block;
}

a:not(:hover) {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border: 0;
  max-height: 100%;
}

.center-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

.focus-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0 !important;
  max-width: 100%;
  max-height: 100%;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-header {
  background: #f4f9fc;
  padding: 30px 25px;
}

.sec-header img {
  display: inline-block;
  vertical-align: middle;
}

.sec-header span {
  padding-left: 15px;
}

header {
  padding: 12px 0;
  -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
}

header .box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  color: #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
}

header li {
  padding: 0 12px;
}

header li a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

header .search {
  -ms-flex-preferred-size: 21px;
      flex-basis: 21px;
  margin-left: 20px;
}

@media screen and (max-width: 1024px) {
  header .list {
    display: none;
  }
}

.breadcrumbs {
  padding: 10px 0;
  font-size: 0;
}

.breadcrumbs li {
  font-size: 15px;
  display: inline-block;
}

.breadcrumbs li,
.breadcrumbs li a {
  color: #666;
}

.breadcrumbs li:first-child a {
  color: #000;
}

main .product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
}

main .product-box .img-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  position: relative;
  height: 500px;
}

main .product-box .text-wrapper {
  padding: 40px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

main .product-box .text-wrapper .main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .product-box .text-wrapper .main-text .product-title {
  font-size: 28px;
  font-weight: bold;
}

main .product-box .text-wrapper .main-text .rating-score {
  font-size: 23px;
  font-weight: 300;
}

main .product-box .text-wrapper .main-text .star-class {
  display: inline-block;
}

main .product-box .text-wrapper .main-text .android-version {
  font-size: 12px;
  vertical-align: top;
  padding: 5px;
  background: #f3f9fb;
}

main .product-box .text-wrapper .color {
  padding: 12px;
  margin-right: 12px;
  display: inline-block;
}

main .product-box .text-wrapper .color-1 {
  background: #4f4b65;
}

main .product-box .text-wrapper .color-2 {
  background: #b3a99b;
}

main .product-box .text-wrapper .color-3 {
  background: #0f0f11;
}

main .product-box .text-wrapper .price-text {
  padding: 10px 0;
}

main .product-box .text-wrapper .price-text .price {
  font-size: 23px;
  font-weight: 500;
  color: #637fff;
  vertical-align: middle;
  margin-right: 30px;
}

main .product-box .text-wrapper .price-text a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  background: #637fff;
  color: #fff;
  border-radius: 50px;
  padding: 15px 50px;
  text-decoration: none;
}

main .product-box .text-wrapper .specs-text {
  margin-top: 20px;
}

main .product-box .text-wrapper .specs-text,
main .product-box .text-wrapper .carrier-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: lighter;
}

main .product-box .text-wrapper .specs-text .img-wrappy,
main .product-box .text-wrapper .carrier-text .img-wrappy {
  height: 50px;
}

main .product-box .text-wrapper .specs-text .img-wrappy2,
main .product-box .text-wrapper .carrier-text .img-wrappy2 {
  height: 100px;
  position: relative;
}

main .product-box .text-wrapper .specs-text img,
main .product-box .text-wrapper .specs-text p,
main .product-box .text-wrapper .carrier-text img,
main .product-box .text-wrapper .carrier-text p {
  padding: 10px 0;
}

main .product-box .text-wrapper .specs-text div,
main .product-box .text-wrapper .carrier-text div {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

main .product-box .text-wrapper .specs-text div .specs-rating,
main .product-box .text-wrapper .carrier-text div .specs-rating {
  font-size: 15px;
}

main .product-box .text-wrapper .specs-text div p,
main .product-box .text-wrapper .carrier-text div p {
  font-size: 24px;
}

main .full-specs-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .full-specs-nav ul li {
  padding: 15px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
  text-align: center;
  position: relative;
}

main .full-specs-nav ul li .focus-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0 !important;
  max-width: 100%;
  max-height: 35px;
}

main .full-specs-nav ul li.active {
  background: #637fff;
}

main .full-specs-nav ul li.active a {
  color: #fff;
}

main .full-specs-nav ul li.active img {
  -webkit-filter: brightness(20);
          filter: brightness(20);
}

main .full-specs-nav ul li a {
  color: #15cfb5;
  text-decoration: none;
  padding-top: 10px;
}

main .full-specs-nav ul li img {
  margin: 0 auto;
}

.specs-section {
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
}

.specs-section .sec-header span {
  padding-left: 15px;
}

.specs-section .specs-body {
  padding: 20px 25px;
}

.specs-section .specs-body .specs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specs-section .specs-body .specs-row div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  padding-bottom: 10px;
}

.specs-section .specs-body .specs-row .value {
  color: #666;
}

.reviews {
  margin: 15px;
}

.reviews li {
  display: inline-block;
  border: 1px solid #666;
  margin-right: 5px;
  margin-bottom: 5px;
}

.reviews li a {
  font-size: 14px;
  color: #666;
  padding: 5px;
}

.reviews .feedback {
  color: #fff;
  background: green;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  width: 25px;
  border-radius: 50%;
  height: 25px;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */