* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
ul,
li {
  list-style: none;
}
a {
  display: inline-block;
  &:not(:hover) {
    text-decoration: none;
  }
}
img {
  display: block;
  max-width: 100%;
  border: 0;
  max-height: 100%;
}
.center-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}
.focus-img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 !important;
  max-width: 100%;
  max-height: 100%;
}
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
// HEADER
header {
  padding: 12px 0;
  box-shadow: 0 5px 10px -2px rgba(#000000, 0.1);
  .box {
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    color: #000;
    flex: 1 0 200px;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
  }
  li {
    padding: 0 12px;
    a {
      color: #000;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .search {
    flex-basis: 21px;
    margin-left: 20px;
  }

  .list {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.breadcrumbs {
  padding: 10px 0;
  font-size: 0;
  li {
    font-size: 15px;
    display: inline-block;
    &,
    a {
      color: #666;
    }
    &:first-child {
      a {
        color: #000;
      }
    }
  }
}

main {
  .product-box {
    display: flex;
    box-shadow: 0 5px 10px -2px rgba(#000000, 0.1);
    .img-wrapper {
      flex: 1 0 300px;
      position: relative;
      height: 500px;
    }
    .text-wrapper {
      padding: 40px 15px;
      flex: 1 0 auto;
      .main-text {
        display: flex;
        justify-content: space-between;
        .product-title {
          font-size: 28px;
          font-weight: bold;
        }
        .rating-score {
          font-size: 23px;
          font-weight: 300;
        }
        .star-class{
            display: inline-block;
        }
        .android-version{
            font-size: 12px;
            vertical-align: top;
            padding: 5px;
            background: #f3f9fb;
        }
      }

        .color {
          padding: 12px;
          margin-right: 12px;
          display: inline-block;
        }
          .color-1 {
            background: #4f4b65;
          }
          .color-2 {
            background: #b3a99b;
          }
          .color-3 {
            background: #0f0f11;
          }

          .price-text{
              .price{
                  font-size: 23px;
                  font-weight: 500;
                  color: #637fff;
                  vertical-align: middle;
                  margin-right: 30px;
              }
              a{
                  text-transform: uppercase;
                  font-size: 14px;
                  font-weight: bold;
                  background: #637fff;
                  color: #fff;
                  border-radius: 50px;
                  padding: 15px 50px;
                  text-decoration: none;
              }
          }
    

      .specs-text,
      .carrier-text {
        display: flex;
        justify-content: flex-start;
        font-weight: lighter;
        .img-wrappy {
          height: 50px;
        }
        .img-wrappy2 {
          height: 100px;
          position: relative;
        }
        img,
        p {
          padding: 10px 0;
        }
        div {
          flex-basis: 250px;
          .specs-rating {
            font-size: 15px;
          }
          p {
            font-size: 24px;
          }
        }
      }
    }
  }
}
