* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

ul,
li {
  list-style: none;
}

a {
  display: inline-block;
}

a:not(:hover) {
  text-decoration: none;
}

img {
  display: block;
  border: 0;
  max-height: 100%;
}

.center-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

.focus-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0 !important;
  max-width: 100%;
  max-height: 100%;
}

.box, .product-box .text-wrapper .specs-text,
.product-box .text-wrapper .carrier-text, .full-specs-nav ul, .specs-section .specs-body .specs-row, .compare-sec .scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-header {
  background: #f4f9fc;
  padding: 30px 25px;
}

.sec-header img {
  display: inline-block;
  vertical-align: middle;
}

.sec-header span {
  padding-left: 15px;
}

header {
  padding: 12px 0;
  -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
}

header .box, header .product-box .text-wrapper .specs-text, .product-box .text-wrapper header .specs-text,
header .product-box .text-wrapper .carrier-text, .product-box .text-wrapper header .carrier-text, header .full-specs-nav ul, .full-specs-nav header ul, header .specs-section .specs-body .specs-row, .specs-section .specs-body header .specs-row, header .compare-sec .scale, .compare-sec header .scale {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  color: #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
}

header li {
  padding: 0 12px;
}

header li a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

header .search {
  -ms-flex-preferred-size: 21px;
      flex-basis: 21px;
  margin-left: 20px;
}

@media screen and (max-width: 1024px) {
  header .list {
    display: none;
  }
}

.breadcrumbs {
  padding: 10px 0;
  font-size: 0;
}

.breadcrumbs li {
  font-size: 15px;
  display: inline-block;
}

.breadcrumbs li,
.breadcrumbs li a {
  color: #666;
}

.breadcrumbs li:first-child a {
  color: #000;
}

.product-box {
  -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.product-box .img-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  position: relative;
  height: 500px;
}

.product-box .text-wrapper {
  padding: 40px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.product-box .text-wrapper .main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-box .text-wrapper .main-text .product-title {
  font-size: 28px;
  font-weight: bold;
}

.product-box .text-wrapper .main-text .rating-score {
  font-size: 23px;
  font-weight: 300;
}

.product-box .text-wrapper .main-text .star-class {
  display: inline-block;
}

.product-box .text-wrapper .main-text .android-version {
  font-size: 12px;
  vertical-align: top;
  padding: 5px;
  background: #f3f9fb;
}

.product-box .text-wrapper .color {
  padding: 12px;
  margin-right: 12px;
  display: inline-block;
}

.product-box .text-wrapper .color-1 {
  background: #4f4b65;
}

.product-box .text-wrapper .color-2 {
  background: #b3a99b;
}

.product-box .text-wrapper .color-3 {
  background: #0f0f11;
}

.product-box .text-wrapper .price-text {
  padding: 10px 0;
}

.product-box .text-wrapper .price-text .price {
  font-size: 23px;
  font-weight: 500;
  color: #637fff;
  vertical-align: middle;
  margin-right: 30px;
}

.product-box .text-wrapper .price-text a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  background: #637fff;
  color: #fff;
  border-radius: 50px;
  padding: 15px 50px;
  text-decoration: none;
}

.product-box .text-wrapper .specs-text {
  margin-top: 20px;
}

.product-box .text-wrapper .specs-text,
.product-box .text-wrapper .carrier-text {
  font-weight: lighter;
}

.product-box .text-wrapper .specs-text .img-wrappy,
.product-box .text-wrapper .carrier-text .img-wrappy {
  height: 50px;
}

.product-box .text-wrapper .specs-text .img-wrappy2,
.product-box .text-wrapper .carrier-text .img-wrappy2 {
  height: 100px;
  position: relative;
}

.product-box .text-wrapper .specs-text img,
.product-box .text-wrapper .specs-text p,
.product-box .text-wrapper .carrier-text img,
.product-box .text-wrapper .carrier-text p {
  padding: 10px 0;
}

.product-box .text-wrapper .specs-text div,
.product-box .text-wrapper .carrier-text div {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.product-box .text-wrapper .specs-text div .specs-rating,
.product-box .text-wrapper .carrier-text div .specs-rating {
  font-size: 15px;
}

.product-box .text-wrapper .specs-text div p,
.product-box .text-wrapper .carrier-text div p {
  font-size: 24px;
}

.full-specs-nav ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f4f9fc;
}

.full-specs-nav ul li {
  padding: 15px 0 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 140px;
          flex: 1 0 140px;
  text-align: center;
  position: relative;
}

.full-specs-nav ul li:hover {
  background: #637fff;
}

.full-specs-nav ul li:hover a {
  color: #fff;
}

.full-specs-nav ul li:hover img {
  -webkit-filter: brightness(20);
          filter: brightness(20);
}

.full-specs-nav ul li a {
  color: #15cfb5;
  text-decoration: none;
  padding-top: 5px;
  font-size: 15px;
  font-weight: 300;
}

.full-specs-nav ul li img {
  margin: 0 auto;
  max-width: 20px;
}

.gap30 {
  gap: 30px;
}

.specs-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
          
}
.sidebar .ad{
 
  padding: 30px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.1);
}

.specs-section {
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
}

.specs-section .sec-header span {
  padding-left: 15px;
}

.specs-section .specs-body {
  padding: 20px 25px;
}

.specs-section .specs-body .specs-row div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  padding-bottom: 10px;
}

.specs-section .specs-body .specs-row .value {
  color: #666;
}

.review-sec {
  margin-top: 30px;
  -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
}

.reviews {
  padding: 25px 30px;
  margin: 15px 0;
}
.reviews ul{
  margin-bottom: 25px;
}
.reviews li {
  display: inline-block;
  border: 1px solid #666;
  margin-right: 5px;
  margin-bottom: 5px;
}

.reviews li a {
  font-size: 14px;
  color: #666;
  padding: 5px;
}
.reviews .positive{
  margin-bottom: 25px;
  margin-top: 25px;
}
.reviews .positive .feedback {
  color: #fff;
  font-size: 25px;
  text-align: center;
  line-height: 25px;
  width: 25px;
  border-radius: 50%;
  height: 25px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.reviews .positive .plus{
  background: green;
}
.reviews .positive .minus{
  background: red;
}

.reviews .review-box .review-date{
  font-size: 14px;
  font-weight: 300;
}
.reviews .review-box .review-date img{
  display: inline-block;
}
.reviews .review-box .review-date .star{
  margin: 0 10px;
}
.reviews .review-box .user-rating{
  margin: 10px 0;
  font-size: 16px;
  font-weight: 700;
}
.reviews .review-box .user-name{
  font-size: 14px;
  font-weight: 300;
}

.compare-sec {
  -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.compare-sec .graph-sec {
  margin-top: 80px;
}

.compare-sec .graph-space {
  margin: 10px 0;
  max-width: 750px;
  padding-right: 15px;
}

.compare-sec .graph-space .graph-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  padding-right: 20px;
  text-align: right;
}

.compare-sec .graph-space .graph-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 30px;
  background-color: #eee;
  position: relative;
}

.compare-sec .graph-space .graph-bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.compare-sec .graph-space .graph-bar.green-bar:after {
  background: #a8ff78;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#78ffd6), to(#a8ff78));
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.compare-sec .graph-space .graph-bar.red-bar:after {
  background: red;
}

.compare-sec .graph-space .graph-bar.blue-bar:after {
  background: blue;
}

.compare-sec .graph-space .graph-bar.w-max:after {
  width: 80%;
}

.compare-sec .graph-space .graph-bar.w-min:after {
  width: 30%;
}

.compare-sec .graph-space .graph-bar.w-ok:after {
  width: 50%;
}

.compare-sec .scale {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  position: relative;
}

.compare-sec .scale::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: #eee;
  left: 0;
  top: -10px;
  bottom: 0;
}

.compare-sec .scale span {
  position: relative;
}

.compare-sec .scale .measure {
  width: 1px;
  height: 15px;
  margin-top: -15px;
  background: #eee;
}

@media screen and (max-width: 767px) {
  .compare-sec .scale span:nth-child(4n + 3),
  .compare-sec .scale span:nth-child(4n + 4) {
    display: none !important;
  }
}

.compare-sec .super-graph-info {
  text-align: center;
  max-width: 750px;
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .compare-sec .super-graph-info {
    padding-left: 200px;
  }
}



/* FOOTER */
footer{
  background: #0f0f11;
  color: #eee;
  padding:25px 0;
}

footer .social{
  margin:20px 0;
}
footer .social span{
  margin-right:10px;
}
/*# sourceMappingURL=style.css.map */
