$box: 0 5px 10px -2px rgba(#000000, 0.1);
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
ul,
li {
  list-style: none;
}
a {
  display: inline-block;
  &:not(:hover) {
    text-decoration: none;
  }
}
img {
  display: block;
  border: 0;
  max-height: 100%;
}
.center-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}
.focus-img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 !important;
  max-width: 110px;
  max-height: 100%;
}
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.justify-flex {
  display: flex;
  justify-content: space-between;
}
.sec-header {
  background: #f4f9fc;
  padding: 30px 25px;
}
.sec-header img {
  display: inline-block;
  vertical-align: middle;
  // width: 21px;
}
.sec-header span {
  padding-left: 15px;
}
// HEADER
header {
  padding: 12px 0;
  box-shadow: $box;
  #hamburger {
    margin-left: 15px;
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
  #hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  #hamburger.active span {
    opacity: 1;
    background: #232323;
    &:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 11px);
    }
    &:nth-child(3) {
      transform: rotate(45deg) translate(-1px, -8px);
    }
    &:nth-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  }
  .box {
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      justify-content: center;
    }
  }
  .logo {
    color: #000;
    flex: 1 0 200px;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
  }
  li {
    padding: 0 12px;
    a {
      color: #000;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .search {
    flex-basis: 21px;
    margin-left: 20px;
  }

  .list {
    transition: 0.3s all ease-in-out;

    @media screen and (max-width: 1024px) {
      transform-origin: top center;
      transform: scale(0);
      width: 100%;
      text-align: center;
      flex-direction: column;
      position: absolute;
      top: 64px;
      background: #fff;
      box-shadow: $box;
      width: 90%;
      visibility: hidden;
      opacity: 0;
    }
    &.active {
      transform: scale(1);
      visibility: visible;
      opacity: 1;
      z-index: 2;
      padding: 10px 0;
    }
  }
}

//BREADCRUMB
.breadcrumbs {
  padding: 10px 0;
  font-size: 0;
  li {
    font-size: 15px;
    display: inline-block;
    &,
    a {
      color: #666;
    }
    &:first-child {
      a {
        color: #000;
      }
    }
  }
}

// MAIN
.product-box {
  box-shadow: $box;
  margin-bottom: 30px;
  .img-wrapper {
    flex: 1 0 300px;
    position: relative;
    height: 500px;
    .compare-product {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      right: 0;
      font-size: 10px;
    }
  }
  .text-wrapper {
    padding: 40px 3vw;

    flex: 5 0 auto;
    .main-text {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 576px) {
        flex-direction: column;
      }
      .product-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .rating-score {
        font-size: 23px;
        font-weight: 300;
      }
      .star-class {
        display: inline-block;
      }
      .android-version {
        font-size: 12px;
        vertical-align: top;
        padding: 5px;
        background: #f3f9fb;
      }
    }

    .color {
      padding: 12px;
      margin-top: 20px;
      margin-right: 12px;
      display: inline-block;
    }
    .color-1 {
      background: #4f4b65;
    }
    .color-2 {
      background: #b3a99b;
    }
    .color-3 {
      background: #0f0f11;
    }

    .price-text {
      padding: 20px 0;
      .price {
        font-size: 23px;
        font-weight: 500;
        align-self: center;
        color: #637fff;
      }
      a {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        background: #637fff;
        color: #fff;
        border-radius: 50px;
        padding: 15px 50px;
        text-decoration: none;
        transition: 0.35s all ease-in-out;
        &:hover {
          background: #15cfb5;
        }
      }
    }
    .specs-text {
      margin-top: 10px;
    }
    .specs-text,
    .carrier-text {
      @extend .box;
      font-weight: lighter;
      .img-wrappy {
        height: 50px;
      }
      .img-wrappy2 {
        height: 35px;
        position: relative;
        margin: 40px 0 10px;
      }
      img,
      p {
        padding: 10px 0;
      }
      .specs-div {
        flex-basis: 150px;
        .specs-rating {
          font-size: 15px;
        }
        p {
          font-size: 24px;
        }
      }
      .carrier-div {
        flex-basis: 200px;
        .carrier-price {
          font-size: 13px;
        }
      }
    }
  }
  .hr {
    margin-top: 30px;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #eee;
  }
  .wrapy-rating {
    margin-top: 10px;
    .tooltip {
      position: absolute;
      top: 0;
      right: -22px;
    }
    .rating-img {
      display: inline-block;
      vertical-align: -15px;
    }
    .rating-text {
      display: inline-block;
      font-size: 0;
      text-transform: uppercase;
      margin-left: 5px;
      position: relative;

      p {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 6px;
        color: #696a8c;
      }
    }
    .number,
    .rating {
      color: #fff;
      padding: 2px 7px;
      font-size: 13px;
      font-weight: 600;
    }
    .number {
      background: #15cfb5;
    }
    .rating {
      background: #778fff;
    }
  }
}

// SPECFICATION nav
.full-specs-nav ul {
  @extend .box;
  justify-content: space-between;
  background-color: #f4f9fc;
  li {
    padding: 15px 0 5px;
    flex: 1 0 100px;
    text-align: center;
    position: relative;
    &:hover {
      background: #637fff;
      a {
        color: #fff;
      }
      img {
        filter: brightness(20);
      }
    }
    a {
      color: #15cfb5;
      text-decoration: none;
      padding-top: 5px;
      font-size: 15px;
      font-weight: 300;
    }
    img {
      margin: 0 auto;
      max-width: 20px;
      max-height: 20px;
    }
  }
}

// SPECFICATION
.gap30 {
  gap: 30px;
}
.gap10 {
  gap: 10px;
}
.specs-list {
  flex: 1 0 auto;
}

// SIDEBAR
.sidebar {
  flex: 0 0 360px;
  margin: 0 auto;
  .ad {
    padding: 30px;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.1);
  }
  .related-products {
    margin-top: 30px;

    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.1);
    .related-header {
      padding: 20px;
      border-bottom: 1px solid #eee;
    }
    .product {
      padding: 20px;
      display: flex;
      gap: 25px;
      .product-details {
        .product-title {
          font-size: 14px;
          font-weight: 700;
          line-height: 14px;
          a {
            color: #696a8c;
          }
        }
        .price {
          color: #607cff;
          font-size: 16px;
          font-weight: 500;
          margin: 10px 0;
          line-height: 16px;
          span {
            margin-right: 5px;
          }
        }
        .sidebar-rating {
          font-size: 14px;
          line-height: 14px;
          font-weight: 300;
          img {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

// SPECIFICATION
.specs-section {
  font-size: 16px;
  font-weight: 700;
  box-shadow: $box;
  .sec-header span {
    padding-left: 15px;
  }
  .specs-body {
    padding: 20px 25px;
    .specs-row {
      @extend .box;
      @extend .gap10;
      padding-bottom: 10px;

      .key {
        flex: 1 0 300px;
      }
      .value {
        color: #767795;
        font-weight: 500;
        flex: 1 0 300px;
      }
    }
  }
}

// REVIEWS
.review-sec {
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: $box;
}
.reviews {
  padding: 25px 30px;
  margin: 15px 0;
  li {
    display: inline-block;
    border: 1px solid #666;
    margin-right: 5px;
    margin-bottom: 5px;
    a {
      font-size: 14px;
      color: #666;
      padding: 5px;
    }
  }
  .feedback {
    color: #fff;
    background: green;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  .positive {
    margin-bottom: 25px;
    margin-top: 25px;
    .plus {
      background: #8dc63f;
    }
    .minus {
      background: #cf1915;
    }
  }
  .review-box {
    margin: 35px 0;
    .review-date {
      font-size: 14px;
      font-weight: 300;

      .star {
        margin: 0 10px;
        display: inline-block;
        max-width: 20px;
        vertical-align: -2px;
      }
    }
    .user-rating {
      margin: 10px 0;
      font-size: 16px;
      font-weight: 700;
    }
    .user-name {
      font-size: 14px;
      font-weight: 300;
    }
  }
}

//COMPARE
.compare-sec {
  box-shadow: $box;
  padding-bottom: 10px;
  margin-bottom: 50px;
  .graph-sec {
    margin-top: 80px;
  }
  .graph-space {
    margin: 10px 0;
    max-width: 750px;
    padding-right: 15px;
    .graph-title {
      flex: 0 0 200px;
      padding-right: 20px;
      text-align: right;
    }
    .graph-bar {
      flex: 1 0 auto;
      height: 30px;
      background-color: #eee;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
      }
      &.green-bar:after {
        background: #a8ff78;
        background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
        background: linear-gradient(to right, #78ffd6, #a8ff78);
      }
      &.red-bar:after {
        background: #ee0979;
        background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
        background: linear-gradient(to right, #ff6a00, #ee0979);
      }
      &.blue-bar:after {
        background: #5433ff;
        background: -webkit-linear-gradient(
          to right,
          #a5fecb,
          #20bdff,
          #5433ff
        );
        background: linear-gradient(to right, #a5fecb, #20bdff, #5433ff);
      }
      &.w-max:after {
        width: 80%;
      }
      &.w-min:after {
        width: 30%;
      }
      &.w-ok:after {
        width: 50%;
      }
    }
  }
  .scale {
    @extend .box;
    flex: 1 0 auto;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 1px;
      background-color: #eee;
      left: 0;
      top: -10px;
      bottom: 0;
    }
    span {
      position: relative;
      font-size: 16px;
    }
    .measure {
      width: 1px;
      height: 15px;
      margin-top: -15px;
      background: #eee;
    }
    @media screen and (max-width: 767px) {
      span:nth-child(4n + 3),
      span:nth-child(4n + 4) {
        display: none !important;
      }
    }
  }
  .super-graph-info {
    text-align: center;
    max-width: 750px;
    margin: 30px 0;
    @media screen and (min-width: 768px) {
      padding-left: 200px;
    }
  }
}

/* FOOTER */
footer {
  background: #0f0f11;
  color: #eee;
  padding: 25px 0;
  .social {
    margin: 20px 0;
    span {
      margin-right: 10px;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      display: inline-block;
      cursor: pointer;
      svg {
        transition: 0.35s all ease-in-out;
      }
      .svg1 {
        &:hover {
          fill: #4267b2;
        }
      }
      .svg2 {
        &:hover {
          fill: #1da1f2;
        }
      }
      .svg3 {
        &:hover {
          fill: #8a3ab9;
        }
      }
    }
  }
  .w300 {
    flex: 1 0 300px;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

.container2 {
  position: relative;
  padding-left: 20px;
  padding-right: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 10px;
  border: 1px solid;
  color: #696a8c;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-right: 1px solid black;
    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      left: 4px;
      top: 0px;
      width: 4px;
      height: 9px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
      position: absolute;
      display: none;
    }
  }
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    /* When the checkbox is checked, add a blue background */
    &:checked ~ .checkmark {
      background-color: #2196f3;
    }
    /* Show the checkmark when checked */
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
}

// /* On mouse-over, add a grey background color */
// .container2:hover input ~ .checkmark {
//   background-color: #ccc;
// }

/* Style the checkmark/indicator */
